body{
    margin: 0;
}
ul{
    margin: 0;
}

.danhmuc{
    background-color: #2fa4e7;
    padding:20px;
}
.danhmuc-danhsach{
    display: flex; 
    /*  */
    list-style: none;
    /* list-style bỏ dấu . */
}
.danhmuc-list{
    margin: 10px;
    /* khoảng cách giữa các list */
}
.danhmuc-lienket{
    color: white;
    text-decoration-line: none;
    /* text-decoration-line bỏ gạch chân */
    font-size: larger;
}
.danhmuc-lienket:hover{
    color:grey;
}
.logo{
    height:80px;
    background-color: grey;
    background-size: 2%;
}


main{
    display:flex;
}
.noidung-trai{
   
    width:80%;
    border-radius: 10px;
}
.noidung-phai{
    height:500px;
   
    width:20%;
}
.tieude{
    background-color: #2fa4e7;
    padding:20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    /* bo goc */
}
.tintuc-danhsach{
    display:flex;
    justify-content: space-between;
}


.baiviet{
    height:200px;
    background-color: grey;
    width:32%;

}
.ngay{
    height:20px;
    background-color: blue;
    text-align: end;
}
.baiviet1{
    height:30px;
     background-color: white;
    width:20%;
}
.ngay1{
    height:2px;
     background-color: white;
    text-align: end;
    padding: 0% 20% 1% 0%;

}
.ngay2{
    height:2px;
     background-color: white;
    text-align: end;

}
.baiviet2{
   
    height:200px;
    width:100%;
    padding: 0% 0% 0% 2%;
    
}
.thongbao-danhsach{
    display:flex;

}
.baiviet2-list{
    border-bottom: 2px solid #ddd;
    
    
    border-left: 1px solid #ddd;
}

.baiviet2-lienket{
    list-style: none;
    display:flex;
    justify-content: space-between;
     border-left: 1px solid #ddd;
     border-bottom: 2px solid #ddd;
     text-decoration-line: none;
}

.huongdan{
   margin: 1%;
}

.huongdan-lienket{
    list-style: none;
    display:flex;
    text-decoration-line: none;

}
.tieude1{
   background-color: #2fa4e7;
    padding:20px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin:0%;
}
.dn{
    height:20%; width:10%;
    align-items: center;
    margin: 20px 0px 0px 20px;

}
.tieude2{
    background-color: #2fa4e7;
    padding:10px;
    color: white;
    font-size:larger;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    
}
.tieude3{
    background-color: #1783c2;
    padding:10px;
    color: white;
    font-size:larger;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;

}