h3{
    color: orange;
}
/*id dùng #  */
#title{
    background-color:aqua;
}
/* class dùng . */
.bg{
    background-color: beige;
}
p{
    color: red;
    background-color: blue;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
    /* truyền 1 giá trị: cách xung quanh= giá trị đó */
    /* 2 giá trị: giá trị 1( trên dưới), 2( trái phải) */
    /* đi theo chiều kim đồng hồ: trên phải dưới trai */
    margin: 50px 30px 100px 10px;
    width: 50%;
    margin:  50px auto;
    /* margin auto: căn khối ra giữa */
}
.box3{
    background-color: orange;
}